nav a {
    text-decoration: none;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: #c0c0c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0.1em 0.23em;
    transition: all 0.6s ease-in-out 0s;
}

nav ul li {
    margin-left: 25px;
}

.logo {
    color: #c0c0c0;
    font-family: playpen sans , sans-serif;
    font-size: 25px;
}

nav ul li a:hover {
    color: #072132;
    background-color: #c0c0c0;
    border-radius: 30px;
}

.active {
    color: #072132;
    background-color: #c0c0c0;
    border-radius: 30px;
}

/* Home */

.indexMain {
    text-align: center;
    align-items: center;
    color: #c0c0c0;
    padding-top: 4em;
}

.indexMain h1 {
    font-size: 45px;
    font-family: pattaya, sans-serif;
}

.indexMain p {
    font-family: playpen sans, sans-serif;
    padding: 0px 10em;
    font-size: 20px;
}

.socialMedia {
    font-size: 35px;
    padding: 25px 10px;
}

.socialMedia i {
    background-color: #c0c0c0;
    color: #072132;
    padding: 5px;
    border-radius: 50%;
    border: solid #c0c0c0;
    transition: all 0.5s ease-in-out 0s;
}

.socialMedia i:hover {
    background-color: #072132;
    color: #c0c0c0;
    cursor: pointer;
}







/* project */
/* .projectNav {
    display: grid;
    grid-template-columns: 0/5;
} */

.projectMain {
    display: grid;
    grid-template-columns:3fr 3fr 3fr 3fr ;
    grid-template-rows: auto;
    gap: 20px;
    padding: 20px;


}

.project main  {
    color: #c0c0c0;
    grid-column: 2/4;
    padding: 20px;

}

.project main h2 {
    font-family: pattaya ,sans-serif;
}

.project main p {
    font-family: Arial, Helvetica, sans-serif;
}

.firstProject {
    grid-column: 2;
    grid-row: 1;
    padding: 15px;
    background-color: #0c4c6c;
    border-radius: 20px;
}

.secondProject {
    grid-column: 3;
    grid-row: 1;
    background-color: #0c4c6c;
    border-radius: 20px;
    padding: 15px;
}

.thirdProject {
    grid-column: 2;
    grid-row: 2;
    background-color: #0c4c6c;
    border-radius: 20px;
    padding: 15px;
}

.fourthProject {
    grid-column: 3;
    grid-row: 2;
    background-color: #0c4c6c;
    border-radius: 20px;
    padding: 15px;
}


/* report */

.reportMain {
    background-color: white;
    padding: 10px 25px;
    margin: 5px 22%;
}

.reportMain p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.reportMain img {
    width: 750px;
    display: block;
    align-self: center;
    margin: auto;
}

.reportMain h1, h2 {
    font-family: pattaya ,sans-serif;
}

/* Contact */

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c4c6c;
    padding: 10px;
    margin: auto 30em;
    border-radius: 25px;
}

.contactForm label,h2 {
    color: #c0c0c0;
}

.contactForm label {
    font-size: 20px;
}

.contactForm input {
    width: 20em;
    padding: 5px;
    margin: 5px;
}